---
version: '3'

networks:
  traefik_network:
    external:
      name: homelabos_traefik

services:
  bulletnotes_db:
    image: mongo:3.2.21
    networks:
      - traefik_network
    restart: unless-stopped
    command: mongod --smallfiles --oplogSize 128
    expose:
      - 27017
    volumes:
      - ./data/bulletnotes-db:/data/db
      - ./data/bulletnotes-db-dump:/dump

  bulletnotes:
    image: nickbusey/bulletnotes
    networks:
      - traefik_network
    command: meteor --allow-superuser run
    working_dir: /BulletNotes
    restart: unless-stopped
    environment:
      - MONGO_URL=mongodb://bulletnotes_db:27017/bulletnotes
      - ROOT_URL=http://bulletnotes.{{ domain }}
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=homelabos_traefik"
      - "traefik.http.services.bulletnotes.loadbalancer.server.scheme=http"
      - "traefik.http.services.bulletnotes.loadbalancer.server.port=3000"
      - "traefik.http.routers.bulletnotes-http.rule=Host(`bulletnotes.{{ domain }}`)"
      - "traefik.http.routers.bulletnotes-http.entrypoints=http"
      - "traefik.http.routers.bulletnotes-http.middlewares={% if bulletnotes.https_only %}redirect@file, {% else %}{% if bulletnotes.auth %}{% if enable_authelia %}authelia@file{% else %}basicAuth@file{% endif %}, {% endif %}{% endif %}customFrameHomelab@file"
      - "traefik.http.routers.bulletnotes.rule=Host(`bulletnotes.{{ domain }}`)"
      - "traefik.http.routers.bulletnotes.entrypoints=https"
      - "traefik.http.routers.bulletnotes.middlewares={% if bulletnotes.auth %}{% if enable_authelia %}authelia@file{% else %}basicAuth@file{% endif %}, {% endif %}customFrameHomelab@file"
      - "traefik.http.routers.bulletnotes.tls=true"
      - "traefik.http.routers.bulletnotes.tls.domains[0].main={{ domain }}"
      - "traefik.http.routers.bulletnotes.tls.domains[0].sans=*.{{ domain }}"
{% if traefik.dns_challenge_provider %}
      - "traefik.http.routers.bulletnotes.tls.certresolver=dns"
{% else %}
      - "traefik.http.routers.bulletnotes.tls.certresolver=http"
{% endif %}
{% if enable_tor %}
      - "traefik.tor.frontend.rule=Host:bulletnotes.{{ tor_domain }}"
      - "traefik.tor.protocol=http"
      - "traefik.tor.port=3000"
{% endif %}
