---
version: '3'

networks:
  traefik_network:
    external:
      name: homelabos_traefik

services:
  # Docker Control
  portainer:
    image: portainer/portainer
    restart: unless-stopped
    networks:
      - traefik_network
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - "{{ volumes_root }}/portainer:/data"
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=homelabos_traefik"
      - "traefik.http.services.portainer.loadbalancer.server.scheme=http"
      - "traefik.http.services.portainer.loadbalancer.server.port=9000"
      - "traefik.http.routers.portainer-http.rule=Host(`portainer.{{ domain }}`)"
      - "traefik.http.routers.portainer-http.entrypoints=http"
      - "traefik.http.routers.portainer-http.middlewares={% if portainer.https_only %}redirect@file, {% else %}{% if portainer.auth %}{% if enable_authelia %}authelia@file{% else %}basicAuth@file{% endif %}, {% endif %}{% endif %}customFrameHomelab@file"
      - "traefik.http.routers.portainer.rule=Host(`portainer.{{ domain }}`)"
      - "traefik.http.routers.portainer.entrypoints=https"
      - "traefik.http.routers.portainer.middlewares={% if portainer.auth %}{% if enable_authelia %}authelia@file{% else %}basicAuth@file{% endif %}, {% endif %}customFrameHomelab@file"
      - "traefik.http.routers.portainer.tls=true"
      - "traefik.http.routers.portainer.tls.domains[0].main={{ domain }}"
      - "traefik.http.routers.portainer.tls.domains[0].sans=*.{{ domain }}"
{% if traefik.dns_challenge_provider %}
      - "traefik.http.routers.portainer.tls.certresolver=dns"
{% else %}
      - "traefik.http.routers.portainer.tls.certresolver=http"
{% endif %}
{% if enable_tor %}
      - "traefik.tor.frontend.rule=Host:portainer.{{ tor_domain }}"
      - "traefik.tor.protocol=http"
      - "traefik.tor.port=9000"
{% endif %}
