---
version: '3'

# This networks section required for the pacakge to be visible to Traefik. 
# DO NOT Remove
networks:
  traefik_network:
    external:
      name: homelabos_traefik

services:
  app:
    image: linuxserver/healthchecks
    networks:
      - traefik_network
    environment:
      - PUID={{ uid_output.stdout }}
      - PGID={{ gid_output.stdout }}
      - SITE_ROOT=healthchecks.{{ domain }}
      - SITE_NAME=healthchecks.{{ domain }}
      - DEFAULT_FROM_EMAIL={{smtp.from_email}}
      - EMAIL_HOST={{smtp.host}}
      - EMAIL_PORT={{smtp.port}}
      - EMAIL_HOST_USER={{smtp.user}}
      - EMAIL_HOST_PASSWORD={{smtp.pass}}
      - EMAIL_USE_TLS=False
    volumes:
      - "{{ volumes_root }}/healthchecks/config:/config"

    restart: unless-stopped
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=homelabos_traefik"
      - "traefik.http.services.healthchecks.loadbalancer.server.scheme=http"
      - "traefik.http.services.healthchecks.loadbalancer.server.port=8000"
      - "traefik.http.routers.healthchecks-http.rule=Host(`healthchecks.{{ domain }}`)"
      - "traefik.http.routers.healthchecks-http.entrypoints=http"
      - "traefik.http.routers.healthchecks-http.middlewares={% if healthchecks.https_only %}redirect@file, {% else %}{% if healthchecks.auth %}{% if enable_authelia %}authelia@file{% else %}basicAuth@file{% endif %}, {% endif %}{% endif %}customFrameHomelab@file"
      - "traefik.http.routers.healthchecks.rule=Host(`healthchecks.{{ domain }}`)"
      - "traefik.http.routers.healthchecks.entrypoints=https"
      - "traefik.http.routers.healthchecks.middlewares={% if healthchecks.auth %}{% if enable_authelia %}authelia@file{% else %}basicAuth@file{% endif %}, {% endif %}customFrameHomelab@file"
      - "traefik.http.routers.healthchecks.tls=true"
      - "traefik.http.routers.healthchecks.tls.domains[0].main={{ domain }}"
      - "traefik.http.routers.healthchecks.tls.domains[0].sans=*.{{ domain }}"
{% if traefik.dns_challenge_provider %}
      - "traefik.http.routers.healthchecks.tls.certresolver=dns"
{% else %}
      - "traefik.http.routers.healthchecks.tls.certresolver=http"
{% endif %}
{% if enable_tor %}
      - "traefik.tor.frontend.rule=Host:healthchecks.{{ tor_domain }}"
      - "traefik.tor.protocol=http"
      - "traefik.tor.port=8000"
{% endif %}