---
version: '3'

# This networks section required for the pacakge to be visible to Traefik.
# DO NOT Remove
networks:
  traefik_network:
    external:
      name: homelabos_traefik

services:
  auth:
    image: clems4ever/authelia:v3.15.0
    restart: unless-stopped
    depends_on:
      - redis
      - mongo
    networks:
      - traefik_network
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=homelabos_traefik"
      - "traefik.http.services.authelia.loadbalancer.server.scheme=http"
      - "traefik.http.services.authelia.loadbalancer.server.port=9091"
      - "traefik.http.routers.authelia-http.rule=Host(`auth.{{ domain }}`)"
      - "traefik.http.routers.authelia-http.entrypoints=http"
      - "traefik.http.routers.authelia-http.middlewares=customFrameHomelab@file"
      - "traefik.http.routers.authelia.rule=Host(`auth.{{ domain }}`)"
      - "traefik.http.routers.authelia.entrypoints=https"
      - "traefik.http.routers.authelia.middlewares=customFrameHomelab@file"
      - "traefik.http.routers.authelia.tls=true"
      - "traefik.http.routers.authelia.tls.domains[0].main={{ domain }}"
      - "traefik.http.routers.authelia.tls.domains[0].sans=*.{{ domain }}"
{% if traefik.dns_challenge_provider %}
      - "traefik.http.routers.authelia.tls.certresolver=dns"
{% else %}
      - "traefik.http.routers.authelia.tls.certresolver=http"
{% endif %}
{% if enable_tor %}
      - "traefik.tor.frontend.rule=Host:auth.{{ tor_domain }}"
      - "traefik.tor.protocol=http"
      - "traefik.tor.port=9091"
{% endif %}
    volumes:
      - "{{ volumes_root }}/authelia/authelia_config.yml:/etc/authelia/config.yml:ro"
      - "{{ volumes_root }}/authelia/userdb.yml:/etc/authelia/userdb.yml"
  redis:
    networks:
      - traefik_network
    image: redis:5.0.5-alpine
  mongo:
    networks:
      - traefik_network
    image: mongo:latest #3.4.21-xenial
    environment:
      MONGO_INITDB_DATABASE: my_authelia
    volumes:
      - "{{ volumes_root }}/authelia/mongo_data:/data/db"
