---
# by default, the Ghost image will use SQLite (and thus requires no separate database container)
# we have used MySQL here merely for demonstration purposes (especially environment-variable-based configuration)

version: '3.1'

networks:
  traefik_network:
    external:
      name: homelabos_traefik

services:

  ghost:
    image: ghost:1-alpine
    networks:
      - traefik_network
    restart: unless-stopped
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=homelabos_traefik"
      - "traefik.http.services.ghost.loadbalancer.server.scheme=http"
      - "traefik.http.services.ghost.loadbalancer.server.port=2368"
      - "traefik.http.routers.ghost-http.rule=Host(`ghost.{{ domain }}`)"
      - "traefik.http.routers.ghost-http.entrypoints=http"
      - "traefik.http.routers.ghost-http.middlewares={% if ghost.https_only %}redirect@file, {% else %}{% if ghost.auth %}{% if enable_authelia %}authelia@file{% else %}basicAuth@file{% endif %}, {% endif %}{% endif %}customFrameHomelab@file"
      - "traefik.http.routers.ghost.rule=Host(`ghost.{{ domain }}`)"
      - "traefik.http.routers.ghost.entrypoints=https"
      - "traefik.http.routers.ghost.middlewares={% if ghost.auth %}{% if enable_authelia %}authelia@file{% else %}basicAuth@file{% endif %}, {% endif %}customFrameHomelab@file"
      - "traefik.http.routers.ghost.tls=true"
      - "traefik.http.routers.ghost.tls.domains[0].main={{ domain }}"
      - "traefik.http.routers.ghost.tls.domains[0].sans=*.{{ domain }}"
{% if traefik.dns_challenge_provider %}
      - "traefik.http.routers.ghost.tls.certresolver=dns"
{% else %}
      - "traefik.http.routers.ghost.tls.certresolver=http"
{% endif %}
{% if enable_tor %}
      - "traefik.tor.frontend.rule=Host:ghost.{{ tor_domain }}"
      - "traefik.tor.protocol=http"
      - "traefik.tor.port=2368"
{% endif %}
    # environment:
      ## see https://docs.ghost.org/docs/config#section-running-ghost-with-config-env-variables
      # database__client: mysql
      # database__connection__host: db
      # database__connection__user: root
      # database__connection__password: example
      # database__connection__database: ghost

  # db:
    # image: mysql:5.7
    # restart: always
    # environment:
      # MYSQL_ROOT_PASSWORD: example
