---
version: '3'

networks:
  traefik_network:
    external:
      name: homelabos_traefik

services:
 # Web Analytics
  app:
    image: matomo
    restart: unless-stopped
    networks:
      - traefik_network
    volumes:
      - "{{ volumes_root }}/matomo/data:/data"
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=homelabos_traefik"
      - "traefik.http.services.matomo.loadbalancer.server.scheme=http"
      - "traefik.http.services.matomo.loadbalancer.server.port=80"
      - "traefik.http.routers.matomo-http.rule=Host(`matomo.{{ domain }}`)"
      - "traefik.http.routers.matomo-http.entrypoints=http"
      - "traefik.http.routers.matomo-http.middlewares={% if matomo.https_only %}redirect@file, {% else %}{% if matomo.auth %}{% if enable_authelia %}authelia@file{% else %}basicAuth@file{% endif %}, {% endif %}{% endif %}customFrameHomelab@file"
      - "traefik.http.routers.matomo.rule=Host(`matomo.{{ domain }}`)"
      - "traefik.http.routers.matomo.entrypoints=https"
      - "traefik.http.routers.matomo.middlewares={% if matomo.auth %}{% if enable_authelia %}authelia@file{% else %}basicAuth@file{% endif %}, {% endif %}customFrameHomelab@file"
      - "traefik.http.routers.matomo.tls=true"
      - "traefik.http.routers.matomo.tls.domains[0].main={{ domain }}"
      - "traefik.http.routers.matomo.tls.domains[0].sans=*.{{ domain }}"
{% if traefik.dns_challenge_provider %}
      - "traefik.http.routers.matomo.tls.certresolver=dns"
{% else %}
      - "traefik.http.routers.matomo.tls.certresolver=http"
{% endif %}
{% if enable_tor %}
      - "traefik.tor.frontend.rule=Host:matomo.{{ tor_domain }}"
      - "traefik.tor.protocol=http"
      - "traefik.tor.port=80"
{% endif %}

  matomo_db:
    image: mariadb
    restart: unless-stopped
    networks:
      - traefik_network
    volumes:
      - "{{ volumes_root }}/matomo/db:/var/lib/mysql"
    environment:
      - MYSQL_ROOT_PASSWORD=matomo
      - MYSQL_USER=matomo
      - MYSQL_PASSWORD={{lookup('password', './settings/passwords/matomo_db_password chars=digits')}}
      - MYSQL_DATABASE=matomo
