---
# by default, the FreshRSS image can use SQLite (and thus requires no separate database container)
# some PostgresSQL example information is included for demonstration purposes (especially environment-variable-based configuration)

version: '2.3'

networks:
  traefik_network:
    external:
      name: homelabos_traefik

services:
  # RSS Reader
  freshrss:
    image: freshrss/freshrss:alpine
    networks:
      - traefik_network
    restart: unless-stopped
    environment:
      - CRON_MIN=*/20
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=homelabos_traefik"
      - "traefik.http.services.freshrss.loadbalancer.server.scheme=http"
      - "traefik.http.services.freshrss.loadbalancer.server.port=80"
      - "traefik.http.routers.freshrss-http.rule=Host(`freshrss.{{ domain }}`)"
      - "traefik.http.routers.freshrss-http.entrypoints=http"
      - "traefik.http.routers.freshrss-http.middlewares={% if freshrss.https_only %}redirect@file, {% else %}{% if freshrss.auth %}{% if enable_authelia %}authelia@file{% else %}basicAuth@file{% endif %}, {% endif %}{% endif %}customFrameHomelab@file"
      - "traefik.http.routers.freshrss.rule=Host(`freshrss.{{ domain }}`)"
      - "traefik.http.routers.freshrss.entrypoints=https"
      - "traefik.http.routers.freshrss.middlewares={% if freshrss.auth %}{% if enable_authelia %}authelia@file{% else %}basicAuth@file{% endif %}, {% endif %}customFrameHomelab@file"
      - "traefik.http.routers.freshrss.tls=true"
      - "traefik.http.routers.freshrss.tls.domains[0].main={{ domain }}"
      - "traefik.http.routers.freshrss.tls.domains[0].sans=*.{{ domain }}"
{% if traefik.dns_challenge_provider %}
      - "traefik.http.routers.freshrss.tls.certresolver=dns"
{% else %}
      - "traefik.http.routers.freshrss.tls.certresolver=http"
{% endif %}
{% if enable_tor %}
      - "traefik.tor.frontend.rule=Host:freshrss.{{ tor_domain }}"
      - "traefik.tor.protocol=http"
      - "traefik.tor.port=80"
{% endif %}
    volumes:
      - "{{ volumes_root }}/freshrss/data:/var/www/FreshRSS/data"

# see https://github.com/FreshRSS/FreshRSS/blob/master/Docker/docker-compose.yml
#  postgresql:
#    image: postgres:latest
#    networks:
#      - traefik_network
#    restart: unless-stopped
#    environment:
#      - POSTGRES_USER=freshrss
#      - POSTGRES_DB=freshrss
#      - POSTGRES_PASSWORD="{{lookup('password', './settings/passwords/freshrss_db_password chars=digits')}}"
#      - POSTGRES_PASSWORD=freshrss
#    volumes:
#      - "{{ volumes_root }}/freshrss/db:/var/lib/postgresql/data"
