---
version: '3'

networks:
  traefik_network:
    external:
      name: homelabos_traefik

services:
  # RSS Reader
  miniflux:
    image: miniflux/miniflux:2.0.11
    networks:
      - traefik_network
    restart: unless-stopped
    environment:
      - DATABASE_URL=postgres://miniflux:"{{lookup('password', './settings/passwords/miniflux_db_password chars=digits')}}"@miniflux_db/miniflux?sslmode=disable
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=homelabos_traefik"
      - "traefik.http.services.miniflux.loadbalancer.server.scheme=http"
      - "traefik.http.services.miniflux.loadbalancer.server.port=8080"
      - "traefik.http.routers.miniflux-http.rule=Host(`miniflux.{{ domain }}`)"
      - "traefik.http.routers.miniflux-http.entrypoints=http"
      - "traefik.http.routers.miniflux-http.middlewares={% if miniflux.https_only %}redirect@file, {% else %}{% if miniflux.auth %}{% if enable_authelia %}authelia@file{% else %}basicAuth@file{% endif %}, {% endif %}{% endif %}customFrameHomelab@file"
      - "traefik.http.routers.miniflux.rule=Host(`miniflux.{{ domain }}`)"
      - "traefik.http.routers.miniflux.entrypoints=https"
      - "traefik.http.routers.miniflux.middlewares={% if miniflux.auth %}{% if enable_authelia %}authelia@file{% else %}basicAuth@file{% endif %}, {% endif %}customFrameHomelab@file"
      - "traefik.http.routers.miniflux.tls=true"
      - "traefik.http.routers.miniflux.tls.domains[0].main={{ domain }}"
      - "traefik.http.routers.miniflux.tls.domains[0].sans=*.{{ domain }}"
{% if traefik.dns_challenge_provider %}
      - "traefik.http.routers.miniflux.tls.certresolver=dns"
{% else %}
      - "traefik.http.routers.miniflux.tls.certresolver=http"
{% endif %}
{% if enable_tor %}
      - "traefik.tor.frontend.rule=Host:miniflux.{{ tor_domain }}"
      - "traefik.tor.protocol=http"
      - "traefik.tor.port=80"
{% endif %}

  miniflux_db:
    image: postgres:10.1
    networks:
      - traefik_network
    restart: unless-stopped
    environment:
      - POSTGRES_USER=miniflux
      - POSTGRES_PASSWORD="{{lookup('password', './settings/passwords/miniflux_db_password chars=digits')}}"
    volumes:
      - "{{ volumes_root }}/miniflux/db:/var/lib/postgresql/data"