---
version: '3'

networks:
  traefik_network:
    external:
      name: homelabos_traefik

services:
  # Usenet Downloader
  nzbget:
    image: linuxserver/nzbget
    networks:
      - traefik_network
    restart: unless-stopped
    ports:
      - 6789:6789
    environment:
      - TZ={{ common_timezone }}
      - PUID={{ uid_output.stdout }}
      - PGID={{ gid_output.stdout }}
    volumes:
      - "{{ volumes_root }}/nzbget:/config"
      - "{{ storage_dir }}/Downloads:/downloads"
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=homelabos_traefik"
      - "traefik.http.services.nzbget.loadbalancer.server.scheme=http"
      - "traefik.http.services.nzbget.loadbalancer.server.port=6789"
      - "traefik.http.routers.nzbget-http.rule=Host(`nzbget.{{ domain }}`)"
      - "traefik.http.routers.nzbget-http.entrypoints=http"
      - "traefik.http.routers.nzbget-http.middlewares={% if nzbget.https_only %}redirect@file, {% else %}{% if nzbget.auth %}{% if enable_authelia %}authelia@file{% else %}basicAuth@file{% endif %}, {% endif %}{% endif %}customFrameHomelab@file"
      - "traefik.http.routers.nzbget.rule=Host(`nzbget.{{ domain }}`)"
      - "traefik.http.routers.nzbget.entrypoints=https"
      - "traefik.http.routers.nzbget.middlewares={% if nzbget.auth %}{% if enable_authelia %}authelia@file{% else %}basicAuth@file{% endif %}, {% endif %}customFrameHomelab@file"
      - "traefik.http.routers.nzbget.tls=true"
      - "traefik.http.routers.nzbget.tls.domains[0].main={{ domain }}"
      - "traefik.http.routers.nzbget.tls.domains[0].sans=*.{{ domain }}"
{% if traefik.dns_challenge_provider %}
      - "traefik.http.routers.nzbget.tls.certresolver=dns"
{% else %}
      - "traefik.http.routers.nzbget.tls.certresolver=http"
{% endif %}
{% if enable_tor %}
      - "traefik.tor.frontend.rule=Host:nzbget.{{ tor_domain }}"
      - "traefik.tor.protocol=http"
      - "traefik.tor.port=6789"
{% endif %}
