---
version: '3'

networks:
  traefik_network:
    external:
      name: homelabos_traefik

services:
  apache2:
    image: httpd:2.4
    restart: unless-stopped
    networks:
      - traefik_network
    volumes:
      - "{{ volumes_root }}/apache2/root/:/usr/local/apache2/htdocs/"
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=homelabos_traefik"
      - "traefik.http.services.apache2.loadbalancer.server.scheme=http"
      - "traefik.http.services.apache2.loadbalancer.server.port=80"
      - "traefik.http.routers.apache2-http.rule=Host(`{{ apache2_subdomain }}.{{ domain }}`)"
      - "traefik.http.routers.apache2-http.entrypoints=http"
      - "traefik.http.routers.apache2-http.middlewares={% if apache2.https_only %}redirect@file, {% else %}{% if apache2.auth %}{% if enable_authelia %}authelia@file{% else %}basicAuth@file{% endif %}, {% endif %}{% endif %}customFrameHomelab@file"
      - "traefik.http.routers.apache2.rule=Host(`{{ apache2_subdomain }}.{{ domain }}`)"
      - "traefik.http.routers.apache2.entrypoints=https"
      - "traefik.http.routers.apache2.middlewares={% if apache2.auth %}{% if enable_authelia %}authelia@file{% else %}basicAuth@file{% endif %}, {% endif %}customFrameHomelab@file"
      - "traefik.http.routers.apache2.tls=true"
      - "traefik.http.routers.apache2.tls.domains[0].main={{ domain }}"
      - "traefik.http.routers.apache2.tls.domains[0].sans=*.{{ domain }}"
{% if traefik.dns_challenge_provider %}
      - "traefik.http.routers.apache2.tls.certresolver=dns"
{% else %}
      - "traefik.http.routers.apache2.tls.certresolver=http"
{% endif %}
{% if enable_tor %}
      - "traefik.tor.frontend.rule=Host:{{ apache2_subdomain }}.{{ tor_domain }}"
      - "traefik.tor.protocol=http"
      - "traefik.tor.port=80"
{% endif %}
