---
version: '3'

networks:
  traefik_network:
    external:
      name: homelabos_traefik

services:
  # Home Brewery Management
  app:
    image: nickbusey/mashio
    restart: unless-stopped
    networks:
      - traefik_network
    environment:
      - MYSQL_DATABASE=mashio
      - MYSQL_TEST_DATABASE=mashio_test
      - MYSQL_USER=mashio
      - MYSQL_PASSWORD="{{lookup('password', './settings/passwords/mashio_db_password chars=digits')}}"
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=homelabos_traefik"
      - "traefik.http.services.mashio.loadbalancer.server.scheme=http"
      - "traefik.http.services.mashio.loadbalancer.server.port=80"
      - "traefik.http.routers.mashio-http.rule=Host(`mashio.{{ domain }}`)"
      - "traefik.http.routers.mashio-http.entrypoints=http"
      - "traefik.http.routers.mashio-http.middlewares={% if mashio.https_only %}redirect@file, {% else %}{% if mashio.auth %}{% if enable_authelia %}authelia@file{% else %}basicAuth@file{% endif %}, {% endif %}{% endif %}customFrameHomelab@file"
      - "traefik.http.routers.mashio.rule=Host(`mashio.{{ domain }}`)"
      - "traefik.http.routers.mashio.entrypoints=https"
      - "traefik.http.routers.mashio.middlewares={% if mashio.auth %}{% if enable_authelia %}authelia@file{% else %}basicAuth@file{% endif %}, {% endif %}customFrameHomelab@file"
      - "traefik.http.routers.mashio.tls=true"
      - "traefik.http.routers.mashio.tls.domains[0].main={{ domain }}"
      - "traefik.http.routers.mashio.tls.domains[0].sans=*.{{ domain }}"
{% if traefik.dns_challenge_provider %}
      - "traefik.http.routers.mashio.tls.certresolver=dns"
{% else %}
      - "traefik.http.routers.mashio.tls.certresolver=http"
{% endif %}
{% if enable_tor %}
      - "traefik.tor.frontend.rule=Host:mashio.{{ tor_domain }}"
      - "traefik.tor.protocol=http"
      - "traefik.tor.port=80"
{% endif %}

  mashio_db:
    image: mariadb
    restart: unless-stopped
    networks:
      - traefik_network
    volumes:
      - "{{ volumes_root }}/mashio_db:/var/lib/mysql"
    environment:
      - MYSQL_ROOT_PASSWORD="{{lookup('password', './settings/passwords/mashio_db_root_password chars=digits')}}"
      - MYSQL_DATABASE=mashio
      - MYSQL_TEST_DATABASE=mashio_test
      - MYSQL_USER=mashio
      - MYSQL_PASSWORD="{{lookup('password', './settings/passwords/mashio_db_password chars=digits')}}"
