---
version: '3'

networks:
  traefik_network:
    external:
      name: homelabos_traefik

services:
  # Movie Downloader
  radarr:
    image: linuxserver/radarr
    networks:
      - traefik_network
    restart: unless-stopped
    environment:
      - PUID={{ uid_output.stdout }}
      - PGID={{ gid_output.stdout }}
      - TZ={{ common_timezone }}
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - "{{ volumes_root }}/radarr/config:/config"
      - "{{ storage_dir }}/Video/Movies:/movies"
      - "{{ storage_dir }}/Downloads/complete/movies:/downloads"
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=homelabos_traefik"
      - "traefik.http.services.radarr.loadbalancer.server.scheme=http"
      - "traefik.http.services.radarr.loadbalancer.server.port=7878"
      - "traefik.http.routers.radarr-http.rule=Host(`radarr.{{ domain }}`)"
      - "traefik.http.routers.radarr-http.entrypoints=http"
      - "traefik.http.routers.radarr-http.middlewares={% if radarr.https_only %}redirect@file, {% else %}{% if radarr.auth %}{% if enable_authelia %}authelia@file{% else %}basicAuth@file{% endif %}, {% endif %}{% endif %}customFrameHomelab@file"
      - "traefik.http.routers.radarr.rule=Host(`radarr.{{ domain }}`)"
      - "traefik.http.routers.radarr.entrypoints=https"
      - "traefik.http.routers.radarr.middlewares={% if radarr.auth %}{% if enable_authelia %}authelia@file{% else %}basicAuth@file{% endif %}, {% endif %}customFrameHomelab@file"
      - "traefik.http.routers.radarr.tls=true"
      - "traefik.http.routers.radarr.tls.domains[0].main={{ domain }}"
      - "traefik.http.routers.radarr.tls.domains[0].sans=*.{{ domain }}"
{% if traefik.dns_challenge_provider %}
      - "traefik.http.routers.radarr.tls.certresolver=dns"
{% else %}
      - "traefik.http.routers.radarr.tls.certresolver=http"
{% endif %}
{% if enable_tor %}
      - "traefik.tor.frontend.rule=Host:radarr.{{ tor_domain }}"
      - "traefik.tor.protocol=http"
      - "traefik.tor.port=7878"
{% endif %}
