---
version: '3'

networks:
  traefik_network:
    external:
      name: homelabos_traefik

services:
  code-server:
    image: codercom/code-server
    volumes:
      - "{{ volumes_root }}/codeserver/code:/root/project"
    restart: unless-stopped
    networks:
      - traefik_network
    ports:
      - 8443:8443
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=homelabos_traefik"
      - "traefik.http.services.code-server.loadbalancer.server.scheme=http"
      - "traefik.http.services.code-server.loadbalancer.server.port=8443"
      - "traefik.http.routers.code-server-http.rule=Host(`code-server.{{ domain }}`)"
      - "traefik.http.routers.code-server-http.entrypoints=http"
      - "traefik.http.routers.code-server-http.middlewares={% if codeserver.https_only %}redirect@file, {% else %}{% if codeserver.auth %}{% if enable_authelia %}authelia@file{% else %}basicAuth@file{% endif %}, {% endif %}{% endif %}customFrameHomelab@file"
      - "traefik.http.routers.code-server.rule=Host(`code-server.{{ domain }}`)"
      - "traefik.http.routers.code-server.entrypoints=https"
      - "traefik.http.routers.code-server.middlewares={% if codeserver.auth %}{% if enable_authelia %}authelia@file{% else %}basicAuth@file{% endif %}, {% endif %}customFrameHomelab@file"
      - "traefik.http.routers.code-server.tls=true"
      - "traefik.http.routers.code-server.tls.domains[0].main={{ domain }}"
      - "traefik.http.routers.code-server.tls.domains[0].sans=*.{{ domain }}"
{% if traefik.dns_challenge_provider %}
      - "traefik.http.routers.code-server.tls.certresolver=dns"
{% else %}
      - "traefik.http.routers.code-server.tls.certresolver=http"
{% endif %}
{% if enable_tor %}
      - "traefik.tor.frontend.rule=Host:code-server.{{ tor_domain }}"
      - "traefik.tor.protocol=http"
      - "traefik.tor.port=8443"
{% endif %}
