---
version: '3'

networks:
  traefik_network:
    external:
      name: homelabos_traefik

services:
 # Media Server
  emby:
    image: emby/embyserver:latest
    restart: unless-stopped
    networks:
      - traefik_network
    volumes:
      - "{{ volumes_root }}/emby:/config"
      - "{{ storage_dir }}/Music:/mnt/media/Music"
      - "{{ storage_dir }}/Video/Movies:/mnt/media/Movies"
      - "{{ storage_dir }}/Video/TV:/mnt/media/TV"
      - "{{ storage_dir }}/temp/transcode:/config/transcoding-temp"
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=homelabos_traefik"
      - "traefik.http.services.emby.loadbalancer.server.scheme=http"
      - "traefik.http.services.emby.loadbalancer.server.port=8096"
      - "traefik.http.routers.emby-http.rule=Host(`emby.{{ domain }}`)"
      - "traefik.http.routers.emby-http.entrypoints=http"
      - "traefik.http.routers.emby-http.middlewares={% if emby.https_only %}redirect@file, {% else %}{% if emby.auth %}{% if enable_authelia %}authelia@file{% else %}basicAuth@file{% endif %}, {% endif %}{% endif %}customFrameHomelab@file"
      - "traefik.http.routers.emby.rule=Host(`emby.{{ domain }}`)"
      - "traefik.http.routers.emby.entrypoints=https"
      - "traefik.http.routers.emby.middlewares={% if emby.auth %}{% if enable_authelia %}authelia@file{% else %}basicAuth@file{% endif %}, {% endif %}customFrameHomelab@file"
      - "traefik.http.routers.emby.tls=true"
      - "traefik.http.routers.emby.tls.domains[0].main={{ domain }}"
      - "traefik.http.routers.emby.tls.domains[0].sans=*.{{ domain }}"
{% if traefik.dns_challenge_provider %}
      - "traefik.http.routers.emby.tls.certresolver=dns"
{% else %}
      - "traefik.http.routers.emby.tls.certresolver=http"
{% endif %}
{% if enable_tor %}
      - "traefik.tor.frontend.rule=Host:emby.{{ tor_domain }}"
      - "traefik.tor.protocol=http"
      - "traefik.tor.port=8096"
{% endif %}
