{{- if .Site.Data.homepage.banner.enable }}
<!-- hero area -->
<section class="section">
	<div class="container">
		<div class="row">
			{{- with .Site.Data.homepage.banner }}
			<div class="col-md-6 text-center mb-5 mb-md-0">
				<img class="img-fluid" src="{{ .image | absURL }}" alt="">
			</div>
			<div class="col-md-6 align-self-center text-center text-md-left">
				<div class="block">
					<h1 class="font-weight-bold mb-4 font-size-60">{{ .title | markdownify }}</h1>
					<p class="mb-4">{{ .content | markdownify }}</p>
					{{- end }}
					<a href='https://homelabos.com/docs/setup/installation/' class="snipcart-add-item btn btn-main" >{{ .Site.Data.homepage.banner.button }}</a>
				</div>
			</div>
		</div><!-- .row close -->
	</div><!-- .container close -->
</section><!-- header close -->
{{- end }}