---
version: '3'

networks:
  traefik_network:
    external:
      name: homelabos_traefik

services:
  searx:
    image: wonderfall/searx
    restart: unless-stopped
    networks:
      - traefik_network
    volumes:
    - "{{ volumes_root }}/searx/settings.yml:/usr/local/searx/searx/settings.yml"
    environment:
      - BASE_URL: http://searx.{{ domain }}"
   labels:
      - "traefik.enable=true"
      - "traefik.docker.network=homelabos_traefik"
      - "traefik.http.services.searx.loadbalancer.server.scheme=http"
      - "traefik.http.services.searx.loadbalancer.server.port=8888"
      - "traefik.http.routers.searx-http.rule=Host(`searx.{{ domain }}`)"
      - "traefik.http.routers.searx-http.entrypoints=http"
      - "traefik.http.routers.searx-http.middlewares={% if searx.https_only %}redirect@file, {% else %}{% if searx.auth %}{% if enable_authelia %}authelia@file{% else %}basicAuth@file{% endif %}, {% endif %}{% endif %}customFrameHomelab@file"
      - "traefik.http.routers.searx.rule=Host(`searx.{{ domain }}`)"
      - "traefik.http.routers.searx.entrypoints=https"
      - "traefik.http.routers.searx.middlewares={% if searx.auth %}{% if enable_authelia %}authelia@file{% else %}basicAuth@file{% endif %}, {% endif %}customFrameHomelab@file"
      - "traefik.http.routers.searx.tls=true"
      - "traefik.http.routers.searx.tls.domains[0].main={{ domain }}"
      - "traefik.http.routers.searx.tls.domains[0].sans=*.{{ domain }}"
{% if traefik.dns_challenge_provider %}
      - "traefik.http.routers.searx.tls.certresolver=dns"
{% else %}
      - "traefik.http.routers.searx.tls.certresolver=http"
{% endif %}
{% if enable_tor %}
      - "traefik.tor.frontend.rule=Host:searx.{{ tor_domain }}"
      - "traefik.tor.protocol=http"
      - "traefik.tor.port=8888"
{% endif %}