---
version: '3'

networks:
  traefik_network:
    external:
      name: homelabos_traefik

services:
  ombi:
    networks:
      - traefik_network
    image: hotio/ombi
    environment:
      - UID={{ uid }}
      - GID={{ gid }}
      - TZ={{common_timezone}}
    volumes:
      - "{{ volumes_root }}/ombi/config:/config"
    restart: unless-stopped
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=homelabos_traefik"
      - "traefik.http.services.ombi.loadbalancer.server.scheme=http"
      - "traefik.http.services.ombi.loadbalancer.server.port=5000"
      - "traefik.http.routers.ombi-http.rule=Host(`ombi.{{ domain }}`)"
      - "traefik.http.routers.ombi-http.entrypoints=http"
      - "traefik.http.routers.ombi-http.middlewares={% if ombi.https_only %}redirect@file, {% else %}{% if ombi.auth %}{% if enable_authelia %}authelia@file{% else %}basicAuth@file{% endif %}, {% endif %}{% endif %}customFrameHomelab@file"
      - "traefik.http.routers.ombi.rule=Host(`ombi.{{ domain }}`)"
      - "traefik.http.routers.ombi.entrypoints=https"
      - "traefik.http.routers.ombi.middlewares={% if ombi.auth %}{% if enable_authelia %}authelia@file{% else %}basicAuth@file{% endif %}, {% endif %}customFrameHomelab@file"
      - "traefik.http.routers.ombi.tls=true"
      - "traefik.http.routers.ombi.tls.domains[0].main={{ domain }}"
      - "traefik.http.routers.ombi.tls.domains[0].sans=*.{{ domain }}"
{% if traefik.dns_challenge_provider %}
      - "traefik.http.routers.ombi.tls.certresolver=dns"
{% else %}
      - "traefik.http.routers.ombi.tls.certresolver=http"
{% endif %}
{% if enable_tor %}
      - "traefik.tor.frontend.rule=Host:ombi.{{ tor_domain }}"
      - "traefik.tor.protocol=http"
      - "traefik.tor.port=5000"
{% endif %}
