---
version: '3'

networks:
  traefik_network:
    external:
      name: homelabos_traefik

services:
  # HomelabOS Documentation
  docs:
    image: kyma/docker-nginx
    restart: unless-stopped
    networks:
      - traefik_network
    volumes:
      - "{{ volumes_root }}/docs/site:/var/www"
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=homelabos_traefik"
      - "traefik.http.services.docs.loadbalancer.server.scheme=http"
      - "traefik.http.services.docs.loadbalancer.server.port=80"
      - "traefik.http.routers.docs-http.rule=Host(`docs.{{ domain }}`)"
      - "traefik.http.routers.docs-http.entrypoints=http"
      - "traefik.http.routers.docs-http.middlewares={% if docs.https_only %}redirect@file, {% else %}{% if docs.auth %}{% if enable_authelia %}authelia@file{% else %}basicAuth@file{% endif %}, {% endif %}{% endif %}customFrameHomelab@file"
      - "traefik.http.routers.docs.rule=Host(`docs.{{ domain }}`)"
      - "traefik.http.routers.docs.entrypoints=https"
      - "traefik.http.routers.docs.middlewares={% if docs.auth %}{% if enable_authelia %}authelia@file{% else %}basicAuth@file{% endif %}, {% endif %}customFrameHomelab@file"
      - "traefik.http.routers.docs.tls=true"
      - "traefik.http.routers.docs.tls.domains[0].main={{ domain }}"
      - "traefik.http.routers.docs.tls.domains[0].sans=*.{{ domain }}"
{% if traefik.dns_challenge_provider %}
      - "traefik.http.routers.docs.tls.certresolver=dns"
{% else %}
      - "traefik.http.routers.docs.tls.certresolver=http"
{% endif %}
{% if enable_tor %}
      - "traefik.tor.frontend.rule=Host:docs.{{ tor_domain }}"
      - "traefik.tor.protocol=http"
      - "traefik.tor.port=80"
{% endif %}
